@model List<Talent.Models.Domain.ProductModel>
@{
}

<h1>Product List</h1>

<table class="table">
    <thead>
        <tr>
            <td>ProductID</td>
            <td>Name</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>
